.postContainer {
  display: flex;
  flex-direction: column;
  padding: 8px 256px;
}

.post {
  margin: 8px 0;
  padding: 4px;
  background: lightblue;
  border: lightskyblue solid 2px;
  border-radius: 24px;
}
.post:hover {
  background: linear-gradient(90deg, white 40%, lightblue)
}